<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}За семью просторами{% endblock %}</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            padding: 40px;
            max-width: 1000px;
            margin: auto;
        }
        header, footer {
            background: #f2f2f2;
            padding: 10px 20px;
            margin-bottom: 20px;
        }
        nav a {
            margin-right: 15px;
            color: #2a6ebb;
            text-decoration: none;
        }
    </style>
</head>
<body>
    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>© 2025 GDM Store</p>
    </footer>
</body>
</html>