{% extends 'catalog/base.html' %}
{% block content %}
<div class="col-lg-6 col-md-8 mx-auto">
<h1>«За семью просторами»</h1>
 <p class="lead text-body-secondary">Россия — страна, где за каждым поворотом скрывается новая вселенная: от заснеженных вершин Кавказа до вулканов Камчатки, от древних городов Золотого кольца до бескрайней тундры Ямала. «За семью просторами» — это блог для тех, кто хочет увидеть Россию такой, какой её знают лишь немногие: без пафоса, шаблонных экскурсий и стереотипов. Здесь вас ждут:

Маршруты, о которых молчат путеводители: таёжные тропы, заброшенные деревни-призраки, озёра с бирюзовой водой в горах Алтая.

Советы от бывалых странников: как добраться до труднодоступных мест на попутках, где искать гостеприимство в глубинке и как не замёрзнуть в -50°C.

Легенды и люди: истории староверов, секреты мастеров хохломы, байки рыбаков с Байкала и диалоги с кочевниками Якутии.

Россия для всех: идеи для походов с палаткой, городских исследований, гастротуров за уральскими пельменями или крымскими чебуреками.

Мы не просто показываем карту — мы рисуем портрет страны, где Европа и Азия сплетаются в один узор. Потому что Россия — это не только «две столицы». Это миллион дорог, каждая из которых ведёт к открытию.</p>

  <a href="{% url 'blog:post_create' %}">Создать новую запись</a>
<ul>
  {% for post in posts %}
    <li>
      <a href="{% url 'blog:post_detail' post.pk %}">{{ post.title }}</a>
      {% if post.is_published %} ✅ {% else %} ❌ {% endif %}
    </li>
  {% empty %}
    <li>Нет записей</li>
  {% endfor %}
</ul>
</div>
{% endblock %}